# Protect local configuration & audit dump containing secrets
config-audit.json
error_dump.json
*_dump.json


*.zip
.terragrunt-cache/
.terraform/
*.tfstate
*.tfstate.*
.DS_Store

# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
